<div class="col-md-6 offset-md-3">
  <div class="card bg-dark text-light">
    <div class="card-header">
      <h1 class="h4 text-white">Material didactico</h1>
    </div>
    <div class="card-body">
      {{#if contacts}}
        <ul class="list-group">
          {{#each contacts}}
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <div class="my-auto">
                <h3 class="h6">{{firstname}} {{lastname}}</h3>
                <p>{{email}}</p>
              </div>
              <div>
                <a
                  href="/delete-contact/{{id}}"
                  class="btn btn-danger"
                >Delete</a>
                <a
                  href="/edit-contact/{{id}}"
                  class="btn btn-secondary"
                >Edit</a>
              </div>
            </li>
          {{/each}}
        </ul>
      {{!-- {{else}}
        <p class="fs-4 text-center">No Contacts Yet.</p> --}}
      {{/if}}
    </div>    
  </div>
</div>